.wrapper {
    height: 100%;
    max-width: 960px;

    margin: 0 auto;
    padding: 24px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    font-weight: bold;
    text-align: center;
    color: var(--neutral-500);

    a {
        color: var(--primary-default);
    }
}