header {
    h1 {
        strong {
            color: var(--primary-default);
        }
    }

    p {
        margin-top: 4px;
        font-size: 0.875rem;
        color: var(--neutral-500);
    }
}
